<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <!-- Include project wide variables -->
   <?include Variables.wxi?>

   <Fragment>
      <!-- Xerces -->
      <DirectoryRef Id="APPLICATIONFOLDER"
                    FileSource ="$(var.XercesSourceRoot)" >
         <Component Id="Xerces" Guid="{C1EBA88B-0D32-4300-B0ED-574A9568DCC8}" Win64="$(var.IsWin64)">
            <File Id="xerces_c_3_1.dll"    Name="xerces-c_3_1.dll" KeyPath="yes"/>
         </Component>
      </DirectoryRef >

   </Fragment>
</Wix>