<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Include project wide variables -->
  <?include Variables.wxi?>
  
   <Fragment>
      
      <!-- Start menu item for help file -->
      <DirectoryRef Id="BarlistStartMenuFolder">
         <Component Id="BarlistDllShortcuts" Guid="{291FD6B5-D638-471e-8E3D-25077C2C13F1}" Win64="$(var.IsWin64)">

           <RegistryKey Root="HKCU" Key="Software\Microsoft\[ProductName]"  ForceDeleteOnUninstall="yes">
             <RegistryValue Name="installed"
                            Type="integer"
                            Value="1"
                            KeyPath="yes"/>
           </RegistryKey>

         </Component>
      </DirectoryRef>

      <!-- Barlist files -->
      <DirectoryRef Id="APPLICATIONFOLDER"
                    FileSource ="$(var.BarlistSourceRoot)\$(var.PlatformFolder)" >
         <Component Id ="BarlistDllComponents"
                    Guid="{491A5FF7-2562-4ba0-BD0F-42380F1D21A0}"
                    Win64="$(var.IsWin64)">

            <File Id="Barlist.dll"    Name="Barlist.dll" KeyPath ="yes"/>
           
            <!-- Barlist file associations -->
           <ProgId Id="Barlist.Document" Icon="Barlist.dll" IconIndex="0" />
           <ProgId Id="BarlistCollaboration.Document" Icon="Barlist.dll" IconIndex="7" />

           <!-- Barlist registry entries-->
            
            <!-- Barlist - Barlist Application Plugin -->
            <?define BarlistAppPluginCLSID={CFD04C61-6C91-42ED-8CAB-33DB07D08069}?>
            <RegistryKey ForceCreateOnInstall="yes"
                         ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.BarlistAppPluginCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.BarlistAppPluginCLSID)"
                           Value="Barlist"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.BarlistAppPluginCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]Barlist.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.BarlistAppPluginCLSID)\Implemented Categories\$(var.BarlistAppPluginCATID)"
                           Value=""
                           Type="string" />
            
            <!-- Barlist Component Information Object (for Barlist About dialog) -->
            <?define BarlistComponentInfoCLSID={C357C429-FEB4-4CB9-87A9-A07DE7EE3D3F}?>
            <RegistryKey ForceCreateOnInstall="yes"
                         ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.BarlistComponentInfoCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.BarlistComponentInfoCLSID)"
                           Value="Barlist Component Information"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.BarlistComponentInfoCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]Barlist.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.BarlistComponentInfoCLSID)\Implemented Categories\$(var.BarlistComponentInfoCATID)"
                           Value=""
                           Type="string" />
           
           <!-- Barlist Add in Component Category -->
           <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKCR" Key ="Component Categories\$(var.BarlistAddinCATID)"/>
           <RegistryValue Root="HKCR" Key="Component Categories\$(var.BarlistAddinCATID)" Name="800" Value="Barlist Add-ins" Type="string" />

           <!-- BXF Add in -->
           <?define BXFAddinCLSID={B026E9AF-CCE7-41D4-AFBF-E2DEF7528EDA}?>
           <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKCR" Key ="CLSID\$(var.BXFAddinCLSID)"/>
           <RegistryValue Root="HKCR" Key="CLSID\$(var.BXFAddinCLSID)"  Value="Barlist Exchange File" Type="string" />
           <RegistryValue Root="HKCR" Key="CLSID\$(var.BXFAddinCLSID)\InprocServer32" Value="[APPLICATIONFOLDER]BXF.dll" Type="string" />
           <RegistryValue Root="HKCR" Key="CLSID\$(var.BXFAddinCLSID)\Implemented Categories\$(var.BarlistAddinCATID)" Value="" Type="string" />


           <!-- Barlist Sheets Add in -->
           <!-- NOTE: The location of the BarlistSheets.dll is hard coded for WSDOT. BarlistSheets.dll is not distributed outside WSDOT
           but putting the registration code here makes the install work better for WSDOT and is harmless for non-WSDOT installs-->
           <?define BarlistSheetsAddinCLSID={B87EC8FA-4E8F-11D4-8B83-00D0B78314C1}?>
           <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKCR" Key ="CLSID\$(var.BarlistSheetsAddinCLSID)"/>
           <RegistryValue Root="HKCR" Key="CLSID\$(var.BarlistSheetsAddinCLSID)"  Value="Barlist Sheets (MicroGDS)" Type="string" />
           <RegistryValue Root="HKCR" Key="CLSID\$(var.BarlistSheetsAddinCLSID)\InprocServer32" Value="J:\\Barlist\\BarlistSheets.dll" Type="string" />
           <RegistryValue Root="HKCR" Key="CLSID\$(var.BarlistSheetsAddinCLSID)\Implemented Categories\$(var.BarlistAddinCATID)" Value="" Type="string" />

         </Component>
      </DirectoryRef >

     <DirectoryRef Id="APPLICATIONFOLDER"
                   FileSource ="$(var.BarlistSourceRoot)" >
       <Component Id="BarlistXSD" Guid="{8D0F60DE-1FCA-41CD-AC1D-869C00F1AA21}" Win64="$(var.IsWin64)">
         <File Id="Barlist.xsd"       Name="Barlist.xsd"/>
       </Component>
     </DirectoryRef >
     
     
     <!-- Barlist DLLs -->
     <DirectoryRef Id="APPLICATIONFOLDER"
                   FileSource ="$(var.BarlistSourceRoot)\$(var.PlatformFolder)" >
       <Component Id="BarlistDLLs" Guid="{C892BB2C-048E-4ff5-A245-0C641CB4BB58}" Win64="$(var.IsWin64)">
         <File Id="Bars.dll"    Name="Bars.dll" KeyPath="yes"/>
         <File Id="BXF.dll"    Name="BXF.dll" />
       </Component>
     </DirectoryRef >


     <!-- Barlist Application Plugin -->
      <Feature Id="BarlistDll"
               Absent="allow"
               ConfigurableDirectory="APPLICATIONFOLDER"
               Description="Barlist"
               Display="expand"
               Title="Barlist"
               Level="$(var.BarlistFeatureLevel)">
         <ComponentRef Id="BarlistDllComponents" Primary="yes" />
         <ComponentRef Id="BarlistDllShortcuts"/>
         <ComponentRef Id="BarlistDLLs"/>
        <ComponentRef Id="BarlistXSD"/>
      </Feature>
   </Fragment>

</Wix>


